<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.title %}{{ page.title }} :: {% endif %}{{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&family=IBM+Plex+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  {% seo %}
</head>
<body>

  {% include nav.html %}

  {{ content }}

  {% include footer.html %}

  <script>
    function tick() {
      const el = document.getElementById('nav-time');
      if (el) el.textContent = new Date().toTimeString().slice(0,8);
    }
    tick(); setInterval(tick, 1000);
  </script>

</body>
</html>
